.c-operation-list {
  .item {
    font-size: 14px;
    font-weight: 400;
    color: #0a47ed;
    line-height: 22px;
    cursor: pointer;
    &.disabled {
      color: #ccc;
      cursor: not-allowed;
    }
  }
  .item + .item {
    margin-left: 16px;
  }
}
