.site-component-table .react-resizable {
    position: relative;
}

.site-component-table .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 100%;
    bottom: 0;
    right: -5px;
    cursor: col-resize;
}

.site-component-table-modal .ant-modal-body {
    padding: 0 20px 20px;
}

.site-component-table-modal .ant-modal-body .select-column-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 44px;
    padding-left: 10px;
    box-sizing: border-box;
}

.site-component-table-modal .ant-modal-body .select-column-item:nth-child(even){
    background-color: #F8F8FA;
}

.site-component-table-modal .checkbox-group {
    width: 100%;
}

.site-component-table-modal .checkbox-group .ant-checkbox-wrapper {
    margin-right: 10px;
}
.site-component-table-modal .ant-radio-group {
    width: 100%;
}
.site-component-table-modal .footer {
    display: flex;
    justify-content: space-between;
}
.site-component-table-modal .ant-tabs-tabpane {
    max-height: 300px;
    overflow: auto;
}